<h2 mat-dialog-title>{{ data.heading ?? 'Account' }}</h2>

<form [formGroup]="form" (submit)="submit()" (cancel)="cancel()">
  <mat-dialog-content class="overflow-hidden! py-0!">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Account Name</mat-label>
      <input matInput formControlName="name" placeholder="Enter account name" />
      @if (form.get('name')?.invalid && form.get('name')?.touched) {
        <mat-error> Account name is required </mat-error>
      }
    </mat-form-field>
    <mat-checkbox formControlName="isDefault"> Set as default account </mat-checkbox>
    @if (data.errorMessage()) {
      <mat-error>{{ data.errorMessage() }}</mat-error>
    }
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="cancel()" [disabled]="isLoading()">Cancel</button>
    <button
      mat-raised-button
      type="submit"
      color="primary"
      [disabled]="form.invalid || isLoading()"
    >
      @if (isLoading()) {
        <mat-spinner diameter="20"></mat-spinner>
      } @else {
        {{ data.confirmButtonText ?? 'Confirm' }}
      }
    </button>
  </mat-dialog-actions>
</form>
