<mat-sidenav-container class="h-screen">
  <mat-sidenav #sidenav mode="over" class="w-45! bg-white shadow-xl">
    <div class="flex flex-col h-full">
      <!-- Header -->
      <div class="flex items-center justify-between p-4">
        <span class="text-xl font-semibold">MyApp</span>

        <button mat-icon-button (click)="sidenav.close()">
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <div
        mat-button
        class="flex! justify-between items-center p-2 bg-blue-300 cursor-pointer"
        (click)="selectAccount()"
      >
        <div class="flex items-center">
          <mat-icon>attach_money</mat-icon>
          <p>{{ selectedAccount()?.name }}</p>
        </div>
        <mat-icon>arrow_drop_down</mat-icon>
      </div>

      <!-- Menu -->
      <nav class="flex flex-col gap-2 px-2 mt-4">
        @for (path of navigations; track $index) {
          <a mat-button [routerLink]="path.route" (click)="sidenav.close()" class="justify-start!">
            <mat-icon>{{ path.icon }}</mat-icon>
            <span class="text-left">{{ path.feature }}</span>
          </a>
        }
      </nav>
      @if (user()?.isAdmin) {
        <nav class="flex flex-col gap-2 px-2 mt-4">
          @for (path of adminNav; track $index) {
            <a
              mat-button
              [routerLink]="path.route"
              (click)="sidenav.close()"
              class="justify-start!"
            >
              <mat-icon>{{ path.icon }}</mat-icon>
              <span class="text-left">{{ path.feature }}</span>
            </a>
          }
        </nav>
      }
    </div>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content class="flex! flex-col">
    <!-- Topbar -->
    <mat-toolbar color="primary" class="shadow-md">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="ml-2">{{ heading() }}</span>

      <span class="flex-1"></span>

      <button mat-icon-button [matMenuTriggerFor]="profileMenu">
        <mat-icon>account_circle</mat-icon>
      </button>

      <mat-menu #profileMenu="matMenu" class="w-56">
        <!-- User Info -->
        <div class="px-4 py-3 border-b">
          @if (user()) {
            <div class="font-semibold">{{ user()?.firstName }} {{ user()?.lastName }}</div>
            <!-- <div class="text-sm text-gray-500">{{ authService.user()?.firstName }}</div> -->
          }
        </div>

        <!-- Menu Items -->
        <button mat-menu-item routerLink="/profile">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>

        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>

    <!-- Content -->
    <div class="p-5 flex-1 overflow-auto">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
