<h2 mat-dialog-title>Select Account</h2>

<form [formGroup]="form" (submit)="choose()" (cancel)="cancel()">
  <mat-dialog-content class="overflow-hidden! py-0!">
    <mat-radio-group formControlName="account" class="flex flex-col!">
      @for (account of accounts; track $index) {
        <mat-radio-button [value]="account">
          {{ account }}
        </mat-radio-button>
      }
    </mat-radio-group>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button>Cancel</button>
    <button mat-raised-button type="submit" color="primary" [disabled]="form.invalid">
      Choose
    </button>
  </mat-dialog-actions>
</form>
