<h2 mat-dialog-title>Create Category</h2>

<form [formGroup]="form" (submit)="submit()" (cancel)="cancel()">
  <mat-dialog-content class="overflow-hidden! py-1! gap-4! flex! flex-col!">
    <app-transaction-type-field
      formControlName="type"
      [formControl]="form.controls.type"
    ></app-transaction-type-field>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Category Name</mat-label>
      <input matInput formControlName="name" />
      @if (form.get('name')?.invalid && form.get('name')?.touched) {
        <mat-error> Category name is required </mat-error>
      }
    </mat-form-field>
    <!-- @if (data.errorMessage()) {
      <mat-error class="text-center">{{ data.errorMessage() }}</mat-error>
    } -->
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="cancel()" [disabled]="isLoading()">Cancel</button>
    <button
      mat-raised-button
      type="submit"
      color="primary"
      [disabled]="form.invalid || isLoading()"
    >
      @if (isLoading()) {
        <mat-spinner diameter="20"></mat-spinner>
      } @else {
        Create
      }
    </button>
  </mat-dialog-actions>
</form>
