<div class="h-screen w-screen flex justify-center items-center">
  <div class="flex flex-col gap-3.75 w-100 m-5 p-5 rounded shadow-2xl">
    <h1 class="text-3xl text-center">Welcome Back</h1>

    @if (errorMessage()) {
      <mat-error class="text-center">{{ errorMessage() }}</mat-error>
    }

    @if (isLoading()) {
      <mat-spinner diameter="20" class="w-full!"></mat-spinner>
    } @else {
      <div #googleBtn class="w-full">
        @if (showGoogleBtn()) {
          <asl-google-signin-button
            type="standard"
            size="large"
            text="continue_with"
            shape="pill"
            theme="outline"
            [width]="googleBtnWidth()"
          >
          </asl-google-signin-button>
        }
      </div>
    }
  </div>
</div>
