.mat-mdc-snack-bar-container.custom-snackbar {
  padding: 0 !important;
}

.mat-mdc-snack-bar-container.custom-snackbar .mdc-snackbar__surface {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.mat-mdc-snack-bar-container.custom-snackbar .mdc-button {
  color: #fff !important;
}
