<!-- Backdrop -->
@if (isOpen()) {
  <div class="fixed inset-0 bg-black/30 z-1" (click)="toggleMenu()"></div>
}
<div class="fixed bottom-6 right-6 flex flex-col items-end space-y-2 z-2">
  @if (!isOpen()) {
    <button
      mat-fab
      color="accent"
      (click)="setOpen(true)"
      class="shadow-lg w-10! h-10! md:h-12! md:w-12!"
    >
      <mat-icon>add</mat-icon>
    </button>
  }
</div>

@if (isOpen()) {
  <app-add-transaction-form
    heading="Add Transaction"
    [isLoading]="isLoading()"
    [errorMessage]="errorMessage()"
    (onSubmit)="onSubmit($event)"
    (onClose)="setOpen(false)"
  ></app-add-transaction-form>
}
