<div class="h-screen w-screen flex justify-center items-center">
  <form
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col gap-3.75 w-100 m-5 p-5 rounded shadow-2xl"
  >
    <h1 class="text-3xl text-center">Create New Account</h1>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" />
      @if (f['email'].invalid) {
        <mat-error>Valid email required</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" class="mb-0" />
      @if (f['password'].invalid) {
        <mat-error>Minimum 6 characters</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" formControlName="confirmPassword" />
      @if (f['confirmPassword']?.hasError('passwordMismatch')) {
        <mat-error> Passwords do not match </mat-error>
      }
    </mat-form-field>

    <mat-checkbox formControlName="terms"> I agree to the Terms and Conditions </mat-checkbox>

    <div class="flex flex-col gap-2.5">
      <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">
        Register
      </button>

      <a mat-button routerLink="/login">Already have an account? Login</a>
    </div>
  </form>
</div>
