<div class="fixed inset-0 flex items-center justify-center z-50">
  <!-- Backdrop -->
  <div class="absolute inset-0 bg-black/40" (click)="close()"></div>

  <!-- Modal -->
  <mat-card class="relative z-10 w-full max-w-md p-6 rounded-2xl shadow-xl">
    <!-- Header -->
    <div class="flex justify-between items-center">
      <h2 class="text-xl font-semibold">{{ heading() }}</h2>

      <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <!-- Form -->
    <form [formGroup]="form" (ngSubmit)="submit()" class="flex flex-col gap-4">
      <!-- Type (Income / Expense) -->
      <app-transaction-type-field
        formControlName="type"
        [formControl]="f.type"
      ></app-transaction-type-field>

      <!-- Category -->
      <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>

        <div class="flex items-center">
          <mat-select formControlName="category" class="flex-1">
            @for (c of category(); track c.id) {
              <mat-option [value]="c.name">
                {{ c.name }}
              </mat-option>
            }
          </mat-select>

          @if (categoryService.isLoading()) {
            <mat-spinner diameter="20" class="ml-2"></mat-spinner>
          }
        </div>
        @if (f['category'].touched && f['category'].invalid) {
          <mat-error> Category is required </mat-error>
        }
      </mat-form-field>

      <!-- Description -->
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" />
      </mat-form-field>

      <!-- Amount -->
      <mat-form-field appearance="outline">
        <mat-label>Amount</mat-label>
        <input matInput type="number" formControlName="amount" />
        @if (f['amount'].touched && f['amount'].hasError('required')) {
          <mat-error> Amount is required </mat-error>
        }
        @if (f['amount'].hasError('min')) {
          <mat-error> Must be greater than 0 </mat-error>
        }
      </mat-form-field>

      <!-- Date -->
      <mat-form-field appearance="outline">
        <mat-label>Date</mat-label>

        <input matInput [matDatepicker]="picker" formControlName="date" />

        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

        @if (f['date'].touched && f['date'].invalid) {
          <mat-error>Date is required</mat-error>
        }
      </mat-form-field>

      @if (errorMessage()) {
        <mat-error class="text-center">{{ errorMessage() }}</mat-error>
      }

      <!-- Actions -->
      <div class="flex justify-end gap-2 mt-2">
        <button mat-button type="button" (click)="close()">Cancel</button>

        <button
          mat-raised-button
          color="warn"
          type="submit"
          [disabled]="form.invalid || isLoading()"
        >
          @if (isLoading()) {
            <mat-spinner diameter="20"></mat-spinner>
          } @else {
            Save Expense
          }
        </button>
      </div>
    </form>
  </mat-card>
</div>
